* {
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

ul {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bold;
}

a:link, a:visited, a:active {
    color: black;
}