img {
    max-width: 400px;
    max-height: 300px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.boba-vector {
    text-align: left;
    max-height: 400px;
}

.main-body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ingredients {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: fit-content;
    width: fit-content;
    text-align: center;
    background-color: #fcb657;
    padding: 20px;
    border-radius: 25px;
}

.equals {
    margin-left: -50px;
}

.recipe {
    display: flex;
    flex-direction: column;
}

.ingredients li {
    padding-bottom: 10px;
}

.steps {
    display: flex;
    flex-direction: row-reverse;
}