img {
    max-width: 400px;
    max-height: 300px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li:before {
    content: "~ ";
}

h1 {
    font-family: cursive;
    text-align: left;
}

.main-body {
    display: flex;
}

.ingredients {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 5px dashed rgb(156, 105, 33);
    height: fit-content;
    width: fit-content;
    margin: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}

.ingredients li {
    padding-bottom: 10px;
}